@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

canvas {
  display: block;
  position: relative;
}

body { 
  position: relative;}

p {
  color: white; 
  font-family: 'Roboto', sans-serif;
  font-weight: lighter; 
  font-size: 14px;
  text-align: center;
  width: 100%;
}
